extends layout

block content
    //#data
    //div#menu.navbar.navbar-inverse.clearfix(style="margin-right: 10px;")
    //    ul.nav.nav-stacked
    //        li(role="presentation")
    //            //a.a-black(href="#") Videos
    //            a.a-black.active(href="#videos", aria-controls="videos", role="tab", data-toggle="tab") Videos
    //        li(role="presentation")
    //            //a.a-black(href="#") Statistics
    //            a.a-black(href="#statistics", aria-controls="statistics", role="tab", data-toggle="tab") Statistics
    #data
        if page
            table(width='100%' style="margin-bottom: 20px")
                tr
                    td
                        h4 Page #{page.name}
                    td(style="text-align:right")
                        button#delete-page.btn.btn-danger.btn-xs.pull-right(type="button", data-id="#{page._id}", style="margin:0px 2px")
                            span.glyphicon.glyphicon-remove
                            | Delete
                        button.btn.btn-warning.btn-xs.pull-right(type="button", data-toggle="modal", data-target="#webpageEditModal", data-name="#{page.name}", data-url="#{page.url}", data-id="#{page._id}", style="margin:0px 2px")
                            span.glyphicon.glyphicon-pencil
                            | Edit
                        button.btn.btn-xs.btn-primary.pull-right(type="button", data-toggle="modal", data-target="#webpageSnipetModal", data-name="#{page.name}", data-url="#{page.url}", data-id="#{page._id}", style="margin:0px 2px")
                            | Get Snippet

            .clearfix


            //ul.nav.nav-tabs(role="tablist")
            //    li.active(role="presentation")
            //        a(href="#videos", aria-controls="videos", role="tab", data-toggle="tab") Videos
            //    li(role="presentation")
            //        a(href="#statistics", aria-controls="statistics", role="tab", data-toggle="tab") Statistics

            .tab-content
                .tab-pane.fade.in.active#videos(role="tabpanel")


                    //if webpages.length > 0
                    div.div-simple-little-table
                        span Registered web pages to track
                        table.simple-little-table
                            thead
                                tr
                                    th #
                                    th Name
                                    th Url
                                    th Preview
                            tbody
                                //each webpage, i in webpages
                                tr
                                    td 1.
                                    td Video
                                    td
                                        a(href="#") ya.ru
                                    td
                                        img(src="/images/video_preview.png", style="width:150px")


                    //else
                        p There are no web pages registered for tracking!

                .tab-pane.fade#statistics(role="tabpanel")
                    script(src="/scripts/statistics_drawer.js")

                    div#volumeDiagram(style="display:inline-block;")
                    div#viewsDiagram(style="display:inline-block;")

                    //ul.nav.nav-tabs(role="tablist")
                    //    li.active(role="presentation")
                    //        a(href="#stat1", aria-controls="stat1", role="tab", data-toggle="tab") Statistics 1
                    //    li(role="presentation")
                    //        a(href="#stat2", aria-controls="stat2", role="tab", data-toggle="tab") Statistics 2
                    //
                    //.tab-content
                    //    .tab-pane.fade.in.active#stat1(role="tabpanel", style="margin: 10px;")
                    //        h5 Registered web pages to track
                    //        img(src="/images/g1.png", style="width:600px; margin: 10px auto")
                    //
                    //    .tab-pane.fade#stat2(role="tabpanel", style="margin: 10px; margin: 10px auto")
                    //        h5 Registered web pages to track 2
                    //        img(src="/images/g2.png", style="width:600px")


        else
            h4 This page doesn't exist!
            a.btn.btn-danger(href="/page")
                span.glyphicon.glyphicon-arrow-left
                | Return
        a.btn.btn-primary(style="margin:20px 0px 20px 2px", href="#{page.url}")
            | Go to the site

    #webpageEditModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true") &#215;
                        span.sr-only Close
                    h4#webpageEditModalLabel.modal-title Edit web page info
                .modal-body
                    form#edit-modal-form(role="form", method="post", action="/page")
                        .form-group
                            label.control-label(for="webpage_edit_name") Name:
                            input#webpage_edit_name.form-control(type="text", name="name")
                        .form-group
                            label.control-label(for="webpage_edit_url") URL:
                            input#webpage_edit_url.form-control(type="text", name="url")
                        .modal-footer
                            input#webpage_edit_id(type="hidden", name="page_edit_id")
                            button.btn.btn-default(type="button", data-dismiss="modal") Close
                            button#edit-modal-save.btn.btn-primary(type="button") Save

    #webpageSnipetModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal")
                        span(aria-hidden="true") &#215;
                        span.sr-only Close
                    h4.modal-title Edit web page info
                .modal-body
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
    script(src="/scripts/statistics_drawer.js")

    script.
        $('#webpageEditModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var webpageName = button.data('name');
            var webpageUrl = button.data('url');
            var webpageId = button.data('id');

            var modal = $(this);
            modal.find('.modal-title').text('Edit web page ' + webpageName);
            modal.find('.modal-body input#webpage_edit_name').val(webpageName);
            modal.find('.modal-body input#webpage_edit_url').val(webpageUrl);
            modal.find('.modal-body input#webpage_edit_id').val(webpageId);

        })

        $('#webpageSnipetModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            var webpageName = button.data('name');
            var webpageUrl = button.data('url');
            var webpageId = button.data('id');

            modal.find('.modal-title').text('Snipet for ' + webpageName + ' on ' + webpageUrl);

            $.get('/page/snipet/' + webpageId)
                    .done(function (data) {
                        modal.find('.modal-body').text(data.snipet);
                    });
        })

        $('#edit-modal-save').click(function () {
            var $form = $('#edit-modal-form');
            $.post($form.attr('action'), $form.serialize())
                    .done(function () {
                        //$("#webpageEditModal").modal('hide');
                        location.reload();
                    })
        })

        $("#delete-page").click(function () {
            var page_id = $(this).data('id');
            $.ajax({
                url: '/page',
                type: 'DELETE',
                data: {'page_id': page_id}
            })
                    .done(function () {
                        alert("The page deleted!");
                        location.reload();
                    });
        })